@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
}

.bg-blue {
  background: #233a95;
}

.headerWrapper .top-strip {
  padding: 8px 0px;
}

.headerWrapper .top-strip p {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

.headerWrapper .header {
  width: 100%;
  height: auto;
  padding: 15px 15px;
}

.logoWrapper img {
  width: 100%;
  height: 60px;
}

.headerWrapper .header .part2 .countryDrop {
  width: 170px;
  height: 50px;
  min-width: 170px;
  color: #000 !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 7px !important;
  padding: 10px 10px !important;
}

.headerWrapper .header .part2 .countryDrop {
  text-align: left;
  justify-content: flex-start !important;
}

.headerWrapper .header .part2 .countryDrop .label {
  text-transform: capitalize !important;
  font-size: 12px !important;
  color: rgba(0, 0, 0, 0.4) !important;
  line-height: 16px;
}

.headerWrapper .header .part2 .countryDrop .name {
  text-transform: capitalize !important;
  font-size: 14px !important;
  color: #233a95 !important;
  line-height: 16px;
  font-weight: 700;
}

header .headerSearch {
  width: 60%;
  height: 50px;
  background: #f3f4f7;
  padding: 10px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

header .headerSearch input {
  background: transparent !important;
  outline: none !important;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height:20px;
  border: 0px !important;
  padding: 0px 20px !important;
}

header .headerSearch button {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 100;
  min-width: 40px !important;
  height: 20px !important;
  width: 40px !important;
  border-radius: 50% !important;
  color: #000;
}

header .headerSearch button svg {
  font-size: 24px;
}

header .part3 .circle{
  align-items: center;
  justify-content: center;
  height: 40px !important;
  width: 40px !important;
  min-width: 40px !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 50% !important;
  color: #000;
  margin: 10px 10px !important;
}

header .part3 .circle svg{
  font-size: 20px;
}

.cartTab .price{
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
}

.cartTab button{
  background-color: #fff1ee !important;
}

.cartTab button svg{
  color: #ea2b06 !important;
}

.cartTab .count{
  position: absolute;
  top: 2px;
  right: 4px;
  background: #ea2b06;
  border-radius: 50%;
  color: #fff;
  height: 20px;
  width: 20px;
}